#content {
    margin: 0 auto;
    width: 1000px;
    height: 800px;
}

#map {
    position: absolute;
    opacity: 50%;
    top: 2%;
    width: 1000px;
    height: 810px;
    z-index: 100;
}

#grid {
    position: absolute;
    margin-left: 101px;
    width: 798px;
    height: 800px;
    z-index: 1;
}
