#content {
    margin: 0 auto;
    width: 1300px;
    height: 1040px;
}

#white {
    width: 1500px;
    height: 300px;
    z-index: 1000;
}

#map {
    /*display: none;*/
    position: absolute;
    opacity: 30%;
    margin-left: 0;
    width: 1300px;
    height: 1140px;
    z-index: 2;
}

#line {
    position: absolute;
    opacity: 100%;
    margin-top: 88px;
    margin-left: 46px;
    width: 1200px;
    height: 1350px;
    z-index: 1;
}

#grid {
    position: absolute;
    margin-top: 22px;
    margin-left: 72px;
    width: 1116px;
    height: 1080px;
    z-index: 100;
}
